*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

nav{
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 30px 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  
}

h1{
  font-size: 20px;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a{
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.home-page{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35rem;
  margin-top: 4rem;
  margin-bottom: 7rem;
}

.home-info{
  display: flex;
  flex-direction: column;
}

.name{
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: darkorange;
  font-size: 40px;
  font-weight: bold;
}

.contact-info{
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
.contact-info a{
  text-decoration: none;
  color: black;
}
.social-links{
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.profile-pic{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}


.about-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 12rem;
  margin-left: 12rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.about-paragraph{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skills-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8rem;
  margin-bottom: 8rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.skills-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 4rem;
}
.skills-div{
  background: rgba(211, 211, 211, 0.189);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  gap: 0.7rem;
}

.projects-page{
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.projects-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 4rem;
}

.projects-div{
  background: rgba(211, 211, 211, 0.189);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(211, 211, 211, 0.189);
  border-top: 2px solid darkorange;
  padding: 2rem;
  box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}

.footer-sentence{
  width: 60ch; 
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid orange; 
  font-family: monospace;
  font-size: 15px;
  animation: typing 6s steps(60) 1s infinite alternate, blink 0.7s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 60ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

@media (max-width: 1200px){
  .name{
    font-size: 22px;
  }
  .home-page{
    margin-top: 3rem;
    margin-bottom: 4rem;
    gap: 30rem;
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .skills-page{
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media (max-width: 992px){
  .name{
    font-size: 20px;
  }
  .home-page{
    gap: 18rem;
  }
  .profile-pic{
    height: 250px;
    width: 250px;
  }
  .skills-container{
    font-size: 12px;
    gap: 2rem;
  }
  .projects-container{
    font-size: 12px;
    gap: 2rem;
  }
}

@media (max-width: 768px){
  .name{
    font-size: 30px;
  }
  .home-page{
    flex-direction:column-reverse;
    gap: 1rem;
  }
  .home-info{
    text-align: center; 
  }
  .social-links{
    justify-content: center;
  }
  .about-paragraph{
    width: 35rem;
  }
  .skills-container, .projects-container{
    grid-template-columns: repeat(2, 1fr);
  }
    h1{
    display: none;
  }
  nav ul li a{
    display: none;
  }
}

@media (max-width: 576px){
  .about-paragraph{
    width: 25rem;
  }
  .projects-container, .skills-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .name{
    font-size: 25px;
  }
}

@media (max-width: 480px){
  .profile-pic{
    height: 250px;
    width: 250px;
  }
  .name{
    font-size: 22px;
  }
  h2{
    font-size: 18px;
  }
}

@media (max-width: 376px){
  .about-paragraph{
    width: 18rem;
  }
  .skills-container{
    grid-template-columns: repeat(1, 1fr);
  }
}