*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body, html{
  background: #414345;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*navbar*/
.navbar{
  background-color: rgba(255,255, 255, 0.2);
  padding: 1rem 2rem;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(245, 241, 241, 0.3);
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  position: fixed;
  justify-content: space-between;
}

.navbar-title a{
  color: white;
  text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.578);
  text-decoration: none;
}

.navli{
  display: inline-block;
  list-style: none;
}

.navli a{
  color: white;
  text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.578);
  margin-left: 0.5rem;
  text-decoration: none;
  transition: color 0.2s, background 0.2s, transform 0.2s;
}

.navli a:hover{
  color: rgb(155, 151, 151);
  border-radius: 5px;
}

.navli a:active{
  color: rgb(255, 255, 255);
}

/*Homepage-styles*/
.Home-page{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 10rem;
  gap: 3rem;
}

.homepage-introtext{
  color: white;
  text-shadow: 4px 10px 10px rgba(0, 0, 0, 0.578);
  font-size: 3rem;
}

.div-learning{
  border-bottom: 1px solid white;
  width: 23.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.div-learning-text{
  color: white;
  text-shadow: 4px 16px 10px rgba(0, 0, 0, 0.578);
  font-size: 1.5rem;
}

.div-sociallogo-title{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logo-title{
  color: white;
  text-shadow: 4px 16px 10px rgba(0, 0, 0, 0.578);
  font-size: 1rem;
}
.Socials-logo{
  display: flex;
  gap: 1.5rem;
}

.div-logo i.fa-facebook,
.div-logo i.fa-github, 
.div-logo i.fa-linkedin,
.div-logo i.fa-tiktok{
  color: white;
}
.div-logo{
  padding: 0.3rem;
  border-radius: 1rem;
  border: 0.1rem solid white;
  box-shadow: 0 4px 16px 10px rgba(0,0,0,0.15);
  transition: transform 0.2s, box-shadow 0.2s;
}

.div-logo:hover{
  transform: scale(1.05);
  opacity: 0.60;
}

.div-logo:active{
  opacity: 1;
}

.logos{
  width: 2.5rem;
  height: 2.5rem;
}

.homepage-img{
  box-shadow: 0 4px 16px 10px rgba(0,0,0,0.15);
  border: 2px solid rgba(255, 255, 255, 0.788);
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 50%;
}

h2{
  color: white;
  text-shadow: 4px 13px 16px rgba(0, 0, 0, 0.578);
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 4rem;
}

/*--aboutpage-styles*/
.about-page{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13rem;
}

.about-img{
  box-shadow: 0 4px 16px 10px rgba(0,0,0,0.15);
  border: 2px solid rgba(255, 255, 255, 0.788);
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 50%;
}

.about-text{
  color: white;
  text-shadow: 4px 16px 10px rgba(0, 0, 0, 0.578);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size:1.5rem;
  width: 100%;
  max-width: 700px;
}

/*--Skillpage-styles*/
.skills-page{
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.skills-h3{
  color: white;
  margin-bottom: 0.5rem;
}

.skills-text{
  color: white;
}

.skills-progress {
  background: #222;
  border-radius: 8px;
  margin-bottom: 1rem;
  height: 8px;
  width: 100%;
}
.skills-bar {
  background: linear-gradient(90deg, #22c55e, #bbf7d0);
  height: 100%;
  border-radius: 8px;
}

.skills-container{
  width: 100px;
  min-height: 50px; 
  border: 2px solid rgba(255, 255, 255, 0.788);
  box-shadow: 0 4px 16px 10px rgba(0,0,0,0.15);
  border-radius: 18%;
  padding: 4rem;
  transition: transform 0.2s, box-shadow 0.2s;
}

.skills-container:hover{
  transform: scale(1.01);
  box-shadow: 0 8px 32px 0 rgba(30, 60, 90, 0.18), 0 3px 8px 0 rgba(30, 60, 90, 0.12);
}
.skills-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-h3{
  text-shadow: 4px 16px 10px rgba(0, 0, 0, 0.578);
  text-align: center;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.skills-text{
  text-shadow: 4px 16px 10px rgba(0, 0, 0, 0.578);
  text-align: center;
}


/*--projects-syles*/
.projects-page{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.project-container{
  width: 100%;
  max-width: 350px;
  background: rgba(255, 255, 255, 0.758);
  border: 2px solid rgba(0, 0, 0, 0.788);
  box-shadow: 0 4px 16px 10px rgba(0,0,0,0.15); 
  color: rgb(0, 0, 0);
  border-radius: 18px;
  padding: 2rem 1rem 2rem 1rem;
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-container:hover{
  transform: scale(1.01);
  box-shadow: 0 8px 32px 0 rgba(30, 60, 90, 0.18), 0 3px 8px 0 rgba(30, 60, 90, 0.12);
}

.project-title{
  text-decoration: underline;
  text-align: center;
  margin-bottom: 2rem;
}

.project-image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}
.Website-Portfolio-image{
  width: 100%;
  max-width: 280px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 16px 10px rgba(0,0,0,0.15);
  border: 2px solid rgba(240, 240, 240, 0.566);
}

.project-description{
  text-align: center;
  margin-top: 2rem;
  font-size: small;
  font-weight: bold;
}

.project-button{
  text-align: center;
}

.project-button a{
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-top: 2rem;
  font-weight: bold;
  background: rgba(255,255,255,0.7);
  border: 2px solid rgba(0, 0, 0, 0.416);
  border-radius: 10px;
  box-shadow: 0 4px 16px 10px rgba(0,0,0,0.15);
  width: auto;
  max-width: 300px;
  padding: 0.55rem;
  transition: background 0.2s, color 0.2s, transform 0.2s;
  font-size: 1rem;
}

.project-button a:hover{
  transform: scale(1.05);
  background: rgba(0, 0, 0, 0.178);
  color: white;
}

.project-button a:active{
  color: rgb(72, 70, 70);
}

/*--contact-styles*/
.contact-page{
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;  
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 4px 16px 10px rgba(0,0,0,0.15);
  border-radius: 18px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-sizing: border-box;
  transition: transform 0.2s, box-shadow 0.2s;
}

.contact-page:hover{
  transform: scale(1.01);
  box-shadow: 0 8px 32px 0 rgba(30, 60, 90, 0.18), 0 3px 8px 0 rgba(30, 60, 90, 0.12);
}

.contact-h3{
  text-shadow: 4px 16px 10px rgba(0, 0, 0, 0.578);
  text-align: center;
  color: white;
}

.contact-form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
  margin: 0 auto;    
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.contact-inputs{
  width: 100%;
  max-width: 100%;
  height: 2rem;
  border-radius: 18px;
  padding-left: 2rem;
  box-sizing: border-box;
} 

.contact-form input:focus{
  border: 2px solid black;
}
.contact-form textarea{
  height: 15rem;
  padding-top: 1rem;
}

.form-button{
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;
  cursor: pointer;
}

.contact-form button{
  font-weight: bold;
  border-radius: 7px;
  box-shadow: 0 4px 16px 10px rgba(0,0,0,0.15);
  transition: transform 0.2s, background 0.2s, color 0.2s;
}

.contact-form button:hover{
  color: white;
  background: gray;
  transform: scale(1.05);
  border: 2px solid rgb(255, 255, 255);
}

.contact-form button:active{
  color: rgb(72, 70, 70);
  background: rgba(255, 255, 255, 0.178);
}

/*--footer-styles*/
.footer-page{
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  background: rgba(35, 37, 38, 0.85);
  border-top: 2px solid white;
}

.div-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem ;
}

.div-footer a{
  color: white;
  margin-left: 2rem;
}

.div-footer a:hover{
  opacity: 0.7;
}

.div-footer a:active{
  color: rgb(72, 70, 70);
}
.footer-span{
 margin-left: 2em;
  text-decoration: underline;
  color: white;
}

.footer-text{
  color: gray;
}

/*for Responsiveness*/
@media(max-width: 900px){

  /*all section*/
  .Home-page{
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 2rem;
  }
  .about-page{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
  }
  .skills-page {
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0;
  }
  .projects-page{
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0;
  }

  /*homepage*/
  .homepage-img{
    width: 90vw;
    max-width: 300px;
  }
  .homepage-introtext{
    text-align: center;
  }
  .div-learning{
    margin-left: auto;
    margin-right: auto;
  }
  .logo-title{
    text-align: center;
  }
  .Socials-logo{
    justify-content: center;
  }

  /*aboutpage*/
  .about-img{
    max-width: 300px;
  }
   .about-text {
    width: 90vw;
    max-width: 600px;
    font-size: 1.1rem;
  }
}

@media (max-width: 700px) {
  /*navbar*/
  .navbar {
    padding: 1rem;
  }
  .navul {
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .navli {
    width: 100%;
    margin: 0.5rem 0;
  }
  .navli a {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    font-size: smaller;
  }
}

@media (max-width: 600px) {
  .homepage-introtext{
    font-size: 2rem;
    text-align: center;    
  }
  .skills-page {
    flex-direction: column;
    align-items: center;
  }
  .projects-page{
    flex-direction: column;
    align-items: center;
  }
  h2 {
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .skills-container {
    padding: 1rem;
  }
  .footer-page {
    font-size: 0.9rem;
    padding-top: 1rem;
  }
  .div-footer {
    margin: 0.5rem;
  }
  .footer-span {
    margin-left: 0.5em;
    display: block;
    margin-bottom: 0.5em;
  }
}

